.App {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 32%;
  bottom: 0%;
  height: 752.6006469726562px;
  width: 250px;
  color: #fff;
  font-family: "Poppins";
  background: #000000;
}

#slide-left {
  position: absolute;
  left: 75%;
  right: 0%;
  top: 3.5%;
  bottom: 0%;
}

#ellipse {
  position: absolute;
  width: 29.82px;
  height: 28.24px;
  left: 26px;
  top: 25px;

  line-height: 27px;
  border-radius: 1rem;
  background: #3772ff;
}

#name {
  position: absolute;
  left: 0%;
  right: 25%;
  top: 3.2%;
  bottom: -1.01%;

  font-style: normal;
  font-weight: 600;
  font-size: 23.5618px;
  line-height: 31px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.sectionList {
  position: absolute;
  left: 7.5%;
  right: 50.97%;
  top: 12.63%;
  bottom: 84.35%;
  padding-right: 4rem;
}

span {
  margin-left: 8px;
  left: 29.83%;
  right: 50.97%;
  top: 12.63%;
  bottom: 84.35%;

  /* menu/semi-bold 14 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* text colour */
  color: #808191;
}

.balance {
  position: absolute;
  left: 8%;
  right: 0%;
  top: 80.2%;
  bottom: 10.59%;
  height: 33.8314208984375px;
  width: 95px;
  border-radius: 10px;

  background: #353945;
  /* border: 2px solid blueviolet; */
}

#n-label {
  position: absolute;
  width: 16.44px;
  height: 17.05px;
  left: 16px;
  top: 9px;
  border-radius: 1rem;
  background: #3772ff;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 18px;
  /* or 90% */

  letter-spacing: -0.02em;

  color: #fefefe;
}

#bal {
  position: absolute;
  left: 33.3px;
  right: 10%;
  top: 3px;
  bottom: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  /* identical to box height, or 205% */

  /* white */

  color: #ffffff;
}

#buy-btn {
  position: absolute;
  left: 106.5%;
  right: 4.86%;
  top: 0%;
  bottom: 0%;
  height: 33.8314208984375px;
  width: 95px;
  border-radius: 10px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  /* or 205% */

  /* Buffer blue */

  color: #3772ff;
  /* light blue */

  background: #a3e3ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.extras {
  position: absolute;
  height: 25.734495162963867px;
  width: 90.88983154296875px;
  left: 24px;
  top: 662px;
  border: 2px solid white;

  /* position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%; */

  /* light grey */

  background: #808191;
  height: 21.0601806640625px;
  width: 20.106998443603516px;

}
