.App {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 36px;
  bottom: 0%;
  height: 852.6006469726562px;
  width: 250px;
  color: #fff;
  font-family: "Poppins";
  background: #000000;
}

#slide-left {
  position: absolute;
  left: 75%;
  right: 0%;
  top: 3.5%;
  bottom: 0%;
}

#ellipse {
  position: absolute;
  width: 29.82px;
  height: 28.24px;
  left: 26px;
  top: 27px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 27px;
  border-radius: 1rem;
  background: #3772ff;
}

#name {
  position: absolute;
  left: 0%;
  right: 25%;
  top: 3.2%;
  bottom: -1.01%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 23.5618px;
  line-height: 31px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.sectionList {
  position: absolute;
  left: 7.5%;
  right: 50.97%;
  top: 12.63%;
  bottom: 84.35%;
  padding-right: 4rem;
}

span {
  margin-left: 8px;
  left: 29.83%;
  right: 50.97%;
  top: 12.63%;
  bottom: 84.35%;

  /* menu/semi-bold 14 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* text colour */
  color: #808191;
}

.balance {
  position: absolute;
  left: 8%;
  right: 0%;
  top: 77%;
  bottom: 10.59%;
  height: 33.8314208984375px;
  width: 95px;
  border-radius: 10px;

  background: #353945;
  /* border: 2px solid blueviolet; */
}

#n-label {
  position: absolute;
  width: 16.44px;
  height: 17.05px;
  left: 16px;
  top: 9px;
  border-radius: 1rem;
  background: #3772ff;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 18.9958px;
  /* or 90% */

  letter-spacing: -0.02em;

  color: #fefefe;
}

#bal {
  position: absolute;
  left: 33.3px;
  right: 10%;
  top: 3px;
  bottom: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  /* identical to box height, or 205% */

  /* white */

  color: #ffffff;
}

#buy-btn {
  position: absolute;
  left: 106.5%;
  right: 4.86%;
  top: 0%;
  bottom: 0%;
  height: 33.8314208984375px;
  width: 95px;
  border-radius: 10px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  /* or 205% */

  /* Buffer blue */

  color: #3772ff;
  /* light blue */

  background: #a3e3ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#tags {
  position: absolute;
  left: 0.5%;
  right: 50%;
  top: 83.04%;
  bottom: 12.7%;
  border: 2px solid yellowgreen;
}

.ext {
  position: absolute;
  left: 2%;
  right: 80.22%;
  top: 83.4%;
  bottom: 5.29%;
  height: 4%;
  width: auto;
}

.nm {
  position: absolute;
  left: 100%;
  right: -100%;
  top: 0%;
  bottom: 4%;
}

.nightmode {
  position: absolute;
  width: 58.19px;
  height: 25.86px;
  left: calc(50% - 40.19px / 2 + 0px);
  top: calc(50% - 30.86px / 2 + 0.06px);

  /* selected grey */

  background: #353945;
  mix-blend-mode: normal;
  border-radius: 12.9314px;
}

#darkmode {
  position: absolute;
  left: 11.92%;
  right: 61.98%;
  top: 18.67%;
  bottom: 22.6%;
}

.btn {
  position: absolute;
  width: 18.23px;
  height: 18.23px;
  left: 34.05px;
  top: calc(50% - 18.23px / 2 + 0.06px);

  /* Buffer blue */

  background: #3772ff;
  box-shadow: 0px 3.23284px 6.46569px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.container {
  position: absolute;
  height: 853px;
  width: 765px;
  left: 250px;
  right: 25px;
  top: 36px;
  border: 1px solid red;
  background-color: #000000;
}

.sectionLine {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 67px;
  /* left: calc(50% - 67px / 2 - 93.5px); */
  top: 3%;
  bottom: 0%;
  height: 27px;
  left: 30.5px;
  overflow: hidden;
}

h1 {
  position: static;
  width: 67px;
  height: 18px;
  left: 4px;
  top: 4%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */

  /* white */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 7px 0px;
}

.line {
  position: absolute;
  width: 61px;
  height: 1.9px;
  left: calc(50% - 58px / 2);
  top: 68%;
  bottom: 0%;

  /* Buffer blue */

  background: #3772ff;
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 7px 0px;
}

.wallet {
  position: absolute;
  left: 537px;
  right: 0;
  top: 3%;
  bottom: 0%;
  height: 39.269187927246094px;
  width: 196.690673828125px;

  /* BG - 2 */

  background: #191b20;
  mix-blend-mode: normal;
  border-radius: 12.2549px;
}

#pocket {
  position: absolute;
  left: 6.6%;
  right: 83.66%;
  top: 22%;
  bottom: 30.12%;
}

#txt {
  position: absolute;
  left: 19.7%;
  right: 39.88%;
  top: 8.73%;
  bottom: 3.93%;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  /* identical to box height, or 216% */

  text-align: center;
  text-transform: uppercase;

  /* white */

  color: #ffffff;
}

#tier {
  position: absolute;
  left: 65%;
  right: 5.59%;
  top: 24.15%;
  bottom: 17.86%;

  /* light blue */

  background: #a3e3ff;
  border-radius: 5px;

  /* Text Css*/
  height: 14.62077808380127px;
  width: 50px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 123% */

  text-align: center;
  letter-spacing: 0.840494px;

  /* Buffer blue */

  color: #3772ff;
}

.tutorialPanel {
  position: absolute;
  width: 697.34px;
  height: 102.68px;
  left: 28px;
  top: 88px;
}

.promoPanel {
  position: absolute;
  left: 0%;
  right: 1.48%;
  top: 6.93%;
  bottom: 9.31%;
  height: 86px;
  width: 685px;

  /* tutorial colour */

  background: #abe8ff;
  border-radius: 10px;
}

.title {
  position: absolute;
  width: 530px;
  height: 26px;
  left: 24px;
  top: 16px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */

  /* purple text colour for purple */

  color: #2b2557;
}

#tut {
  position: absolute;
  width: 86px;
  height: 24px;
  left: 22px;
  bottom: 15px;

  /* text Color */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  text-align: center;

  /* purple text colour for purple */

  color: #2b2557;
}

#img {
  position: absolute;
  left: 80.88%;
  right: 3.73%;
  top: 6.5%;
  bottom: 0%;
}

#closebtn {
  position: absolute;
  left: 97.86%;
  right: 0%;
  top: -10%;
  bottom: 76.63%;

  /* white */
  border-radius: 1rem;
  background: #ffffff;
}

.rewardMain {
  position: absolute;
  height: 185.68734741210938px;
  width: 700.76318359375px;
  left: 23.129608154296875px;
  top: 202px;
  border-radius: 24px;

  /* BG - 2 */

  background: #191b20;
  border-radius: 24px;
}

.rh {
  position: absolute;
  left: 0%;
  right: 75.82%;
  top: calc(50% - 500px / 2 + 186.65px);

  /* headline/h6/medium 18 */

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 133% */

  /* white */

  color: #ffffff;
}

#reward {
  position: absolute;
  height: 48px;
  left: 0%;
  right: 68.5%;
  top: calc(50% - 512px / 2 + 229.65px);

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 48px;
  /* identical to box height, or 171% */

  letter-spacing: -1px;

  /* white */

  color: #ffffff;
}

.wrapper {
  position: absolute;
  width: 280px;
  height: 30.08px;
  left: 24px;
  top: 130.15px;

  /* For Center */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height, or 143% */

  /* white */

  color: #ffffff;
}

#linkbtn {
  position: absolute;
  left: 504.87px;
  top: 75.86px;
  background: #3772ff;
}

#link {
  position: absolute;
  left: 28.92%;
  right: 13.55%;
  top: 7.4px;
  bottom: 0%;

  /* button/large/bold 14 */

  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  text-align: center;
  text-decoration: none;
  /* white */

  color: #ffffff;
}

#linkIcon {
  position: absolute;
  left: -38%;
  right: 85.64%;
  top: 14%;
  bottom: 58.26%;
}

.firstcard {
  position: absolute;
  left: 3.88%;
  right: 56.36%;
  top: 51.35%;
  bottom: 26.57%;

  height: 177.94564819335938px;
  width: 340px;

  /* BG - 2 */

  background: #191b20;
  opacity: 0.8;
  border-radius: 16px;
}

.moneyIcon {
  position: absolute;
  height: 24.134531021118164px;
  width: 24.134531021118164px;
  left: 20px;
  top: 20px;
}

#fee {
  position: absolute;
  width: 247.41px;
  height: 24px;
  left: -15px;
  top: 20.98px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  /* white */

  color: #ffffff;
}

#ref_title {
  position: absolute;
  width: 215.49px;
  height: 16px;
  left: 14.92px;
  top: 60.91px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  /* text colour */

  color: #808191;
}

.copybox {
  position: absolute;
  width: 297px;
  height: 56px;
  left: 20px;
  right: 0px;
  top: 100px;

  /* for input boxes */

  background: #242731;
  mix-blend-mode: normal;
  border-radius: 8px;
}

#reflink {
  position: absolute;
  width: 216.41px;
  height: 24px;
  left: 11px;
  top: calc(50% - 24px / 2);

  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* white */

  color: #ffffff;
}

#copybtn {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 250px;
  top: 20px;
}

.secondcard {
  position: absolute;
  left: 51.5%;
  right: 31.2%;
  top: 51.35%;
  bottom: 26.57%;

  height: 177.94564819335938px;
  width: 340px;

  /* BG - 2 */
  background: #191b20;
  opacity: 0.8;
  border-radius: 16px;
}

.dataTable {
  position: absolute;
  width: 709px;
  height: auto;
  left: 21.51px;
  top: 650.87px;
  border: none;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
}

#t1 {
  position: absolute;
  width: 76px;
  height: 18px;

  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */

  /* white */
}

.thead {
  justify-content: center;
  width: 710px;
  height: 40px;
  bottom: 50.35px;

  /* BG - 2 */

  background: #191b20;
  mix-blend-mode: normal;
  border-radius: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;

  /* text colour */

  color: #808191;
}

.tbody {
  top: 200px;
  /* width: 705.52px; */
  height: 62.29px;

  /* table */

  background: rgba(36, 39, 49, 0.4);
  border-radius: 5px;
  color: #FFFFFF;
}
